[Unit]
Description=Tecnipro Daily Pipeline Timer

[Timer]
OnCalendar=*-*-* 17:30
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
